.new-registry-full-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.8)
}

.new-registry-main {
  display: grid;
  overflow: hidden;
  border: 5px solid #FFF;
  border-radius: 10px;
  gap: 5px;
  padding: 10px;
  height: 220px;
  width: 440px;
  background: #9fdf9f;
} 
.new-registry-description {
  display: grid;
  grid-column: span 2;
  overflow: hidden;
  align-self: flex-start;
}

.new-registry-grid {
  display: grid;
}

.new-registry-payed {
  display: flex;
  align-items: center;
  padding: 20px 0 0 10px;
}

.new-registry-button {
  outline: none;
  font-family: 'Trebuchet MS';
  color: black;
  overflow: hidden;
  font-size: 15px;
  border-radius: 5px;
}

.new-registry-button-salvar {
  border: 1px solid #009900;
  background: linear-gradient(to bottom, #80ff80 -50%, #00b300 100%) repeat scroll 0% 0% transparent;  
}

.new-registry-button-fechar {
  border: 1px solid #990000;
  background: linear-gradient(to bottom, #b43f3f -50%, #ff0000 100%) repeat scroll 0% 0% transparent;  
}

.new-registry-button-salvar:hover {
  box-shadow: 0 0 3px 0 #000;
  color: #002500;
  border: 1px solid #80ff80;
  background: linear-gradient(to bottom, #00b300 -50%, #80ff80 100%) repeat scroll 0% 0% transparent;
}

.new-registry-button-fechar:hover {
  box-shadow: 0 0 3px 0 #000;
  color: #250000;
  border: 1px solid #ff8080;
  background: linear-gradient(to bottom, #dd0707 -50%, #ff1919 100%) repeat scroll 0% 0% transparent;
}