/* .full-screen {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
} */

.full-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.8)
}
.newregistry-main {
  display: grid;
  overflow: hidden;
  /* border: 1px solid; */
  border: 5px solid #FFF;
  border-radius: 10px;
  gap: 5px;
  padding: 10px 10px 10px 10px;
  height: 220px;
  width: 440px;
  background: #9fdf9f;
} 
.description {
  display: grid;
  grid-column: span 2;
  overflow: hidden;
  align-self: flex-start;
}

.parcelas {
  display: grid;
}

.pago {
  display: flex;
  align-items: center;
  padding: 20px 0 0 10px;
}

.radios{
  grid-column: span 2;
}