.newregistry-main {
  display: grid;
  grid-template-columns: 200px 200px;
  overflow: hidden;
  background: red;
  border: 1px;
  border-style: solid;
  justify-items: stretch;
  gap: 5px;
  padding: 10px 10px 10px 10px;
  width: 440px;
} 
.description {
  display: grid;
  grid-column: span 2;
  overflow: hidden;
  align-self: flex-start;
}

.parcelas {
  display: grid;
}

.pago {
  display: flex;
  align-items: center;
  padding: 20px 0 0 10px;
}

.radios{
  grid-column: span 2;
}