.dashboard-main {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px;
}

.dashboard-buttons{
  padding: 5px 10px 10px 10px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, auto);
  align-items: end;
}

.dashboard-buttons > button{
  outline: none;
  text-align: center;
  font-family: 'Trebuchet MS';
  color: black;
  overflow: hidden;
  font-size: 10px;
  border: 1px solid #009900;
  border-radius: 5px;
  background: linear-gradient(to bottom, #80ff80 -50%, #00b300 100%) repeat scroll 0% 0% transparent;  
}

.dashboard-buttons::after{
  content: '';
  position: absolute;
  bottom: -10;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #333;
}

.dashboard-buttons > button:hover {
  box-shadow: 0 0 3px 0 #000;
  color: #002500;
  border: 1px solid #80ff80;
  background: linear-gradient(to bottom, #00b300 -50%, #80ff80 100%) repeat scroll 0% 0% transparent;
}
 
.dashboard-months{
  padding: 5px 0 0 0;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}