.month-main {
    display: grid;
    overflow: hidden;
    width: 400px; 
    grid-template-rows: 1fr;
    grid-template-columns: 400px;
}

.month-title {
    display: grid; 
    overflow: hidden;
    background-color: blue;
    justify-items: center;
    grid-template-columns: 100%; 
    grid-template-rows: 100%;     
}

.month-sub-title{
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: white;
}
  
.month-line-revenue{
    background-color: green;
    border: 1px;
    border-style: groove;
}
 
.month-line-expense{
    background-color: red;
    border: 1px;
    border-style: groove;
}

.month-line-totalizer{
    background-color: aquamarine
}

.month-div-line {
    display: grid;
    width: 400px; 
    overflow: hidden;
    grid-template-columns: 200px repeat(2, 100px);
}